
<script>
import { Bar } from "vue-chartjs";
const numeral = require("numeral");
export default {
  extends: Bar,
  props: ["data", "term"],
  data() {
    return {
      labelList: [],
      interestList: [],
      principalList: [],
      balanceList: [],

      months: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },
  watch: {
    data: function() {
      this.formatData();
      this.renderGraph();
    }
  },
  mounted() {
    this.formatData();
    this.renderGraph();
  },
  methods: {
    formatData() {
      this.labelList = [];
      this.interestList = [];
      this.principalList = [];
      this.balanceList = [];
      if (this.term === "months") {
        this.data.forEach(item => {
          const label = `${this.months[item.month]} ${item.year}`;
          const interest = item.interest;
          const principal = item.principal;
          const balance = item.balance;
          this.labelList.push(label);
          this.interestList.push(interest);
          this.principalList.push(principal);
          this.balanceList.push(balance);
        });
      } else if (this.term === "years") {
        var years = [];

        this.data.forEach(item => {
          // Is this item year not in the years array?
          if (!years.some(el => el === item.year)) {
            //Yes

            years.push(item.year);
          }
        });

        this.labelList = years;

        years.forEach(year => {
          var yearB = 0;
          var yearI = 0;
          var yearP = 0;

          this.data.forEach(item => {
            if (item.year === year) {
              yearB = item.balance;
              yearI += item.interest;
              yearP += item.principal;
            }
          });

          this.balanceList.push(yearB);
          this.interestList.push(yearI);
          this.principalList.push(yearP);
        });
      }else {
           this.data.forEach(item => {
          const label = `week ${item.week} ${item.year}`;
          const interest = item.interest;
          const principal = item.principal;
          const balance = item.balance;
          this.labelList.push(label);
          this.interestList.push(interest);
          this.principalList.push(principal);
          this.balanceList.push(balance);
        });
      }
    },
    renderGraph() {
      // Overwriting base render method with actual data.
      this.renderChart(
        {
          labels: this.labelList,
          datasets: [
            {
              label: "Balance",
              data: this.balanceList,
              borderColor: "yellow",
              fill: false,
              yAxisID: "A",
              // Changes this dataset to become a line
              type: "line"
            },
            {
              label: "Principal",
              backgroundColor: "#D6E9C6",
              data: this.principalList,
              barPercentage: 1,
              categoryPercentage: 1,
              yAxisID: "B"
            },
            {
              label: "Interest",
              backgroundColor: "#f87979",
              data: this.interestList,
              barPercentage: 1,
              categoryPercentage: 1,
              yAxisID: "B"
            }
          ]
        },
        {
          maintainAspectRatio: false,
          scales: {
            xAxes: [
              {
                stacked: true,
                display: false
                //   barThickness: 20,
                //   barPercentage: 0.2,
                //   categoryPercentage: 1.0
              }
            ],
            yAxes: [
              {
                id: "A",
                // type: "linear",
                position: "left",
                stacked: true,
                display: false
              },
              {
                id: "B",
                // type: "linear",
                position: "left",
                stacked: true,
                display: false
              }
            ]
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var label = data.datasets[tooltipItem.datasetIndex].label || "";

                if (label) {
                  label += ": ";
                }

                label += numeral(tooltipItem.yLabel).format("$ 0.00 a");
                return label;
              }
            }
          }
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
</style>