<template>
  <div v-if="dataOptions.type ==='select'">
    <div
      class="input-field"
      v-bind:class="[noMargins ? 'no-margin' : '']"
      v-if="dataSource === 'code'"
    >
      <i
        class="material-icons prefix"
        v-if="dataOptions.icon && dataOptions.icon.active"
        v-html="dataOptions.icon.value"
      ></i>
      <select
        :multiple="isMultiple"
        @change="$_updateValues()"
        :name="dataOptions.name"
        :id="dataOptions.name"
        v-model="dataValues"
      >
        <option
          selected
          v-if="isMultiple && dataOptions.multiInitial"
          :disabled="true"
          value
        >{{dataOptions.multiInitial}}</option>
        <option
          :value="option"
          :selected="option === dataValues"
          v-for="(option, index) in dataOptions.options"
          v-bind:key="index * 2.12231"
        >{{option}}</option>
      </select>
      <label v-if="showLabel" :for="dataOptions.name.toLowerCase()">{{dataOptions.label}}</label>
    </div>
    <div
      v-else-if="dataSource === 'feed'"
      v-bind:class="[noMargins ? 'no-margin' : '']"
      class="input-field"
    >
      <select
        v-if="optionsType === 'string'"
        @change="$_updateValuesWeb()"
        :name="dataOptions.name.toLowerCase()"
        :id="dataOptions.name.toLowerCase()"
        v-model="dataValues"
      >
        <option
          :value="option"
          :selected="option === dataValues"
          v-for="(option, index) in dataOptions.options"
          v-bind:key="index * 2.12231"
        >{{option}}</option>
      </select>

      <select
        v-else
        @change="$_updateValuesWeb()"
        :name="dataOptions.name.toLowerCase()"
        :id="dataOptions.name.toLowerCase()"
        v-model="dataValues"
      >
        <option
          :value="option"
          :data-icon="option.icon ? option.icon : ''"
          :selected="option === dataValues"
          v-for="(option, index) in dataOptions.options"
          v-bind:key="index * 2.12231"
        >{{option.label}}</option>
      </select>
      <label v-if="showLabel" :for="dataOptions.name.toLowerCase()">{{dataOptions.name}}</label>
    </div>
  </div>
</template>
<script>
import M from "materialize-css";
export default {
  name: "selectField",
  props: {
    dataSource: {
      type: String,
      default: "code"
    },
    isMultiple: {
      type: Boolean,
      default: false
    },
    noMargins: {
      type: Boolean,
      default: false
    },
    showLabel: {
      type: Boolean,
      default: true
    },
    optionsType: {
      type: String,
      default: "string"
    },
    displayField: {
      type: String,
      default: "value"
    },
    dataOptions: {
      type: [Array, Object]
    }
  },
  data() {
    let vm = this;
    return {
      dataValues: vm.isMultiple ? [] : "",
      selectInstances: false
    };
  },
  mounted() {
    this.dataValues = !this.isMultiple ? this.dataOptions.values : [];
    setTimeout(() => {
      this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  methods: {
    $_updateValues() {
      this.$emit("update", {
        values: this.dataValues,
        property: this.dataOptions.name
      });
      setTimeout(() => {
        !this.isMultiple ? this.selectInstances.dropdown.close() : false;
      }, 90);
    },
    $_updateValuesWeb() {
      this.$emit("update", {
        values: this.dataValues,
        property: this.dataOptions.input_prop
      });
      setTimeout(() => {
        !this.isMultiple ? this.selectInstances.dropdown.close() : false;
      }, 90);
    },
    $_initFormFields() {
      let elems = this.$el.querySelector("select");
      let options = {
        dropdownOptions: {
          closeOnClick: false
        }
      };
      this.selectInstances = M.FormSelect.init(elems, options);
    }
  }
};
</script>