<template>
  <div id="app">
    <header class="center-align">
      <h3>Loan Calculator</h3>
    </header>
    <section id="calculator-chart-section">
      <div class="row">
        <div class="col s6 calculator-container">
          <div class="row">
            <div class="input-field col s12">
              <input id="home-price" v-model="loan.homePrice" type="number" class="validate" />
              <label for="home-price">Home Price</label>
            </div>
            <div class="input-field col s6">
              <input id="loan-term-count" v-model="loan.termCount" type="number" class="validate" />
              <label for="loan-term-count">Load Term Count</label>
            </div>
            <div class="input-field col s6">
              <select v-model="loan.termPeriod">
                <option value="years">years</option>
                <option value="months">months</option>
                <option value="weeks">weeks</option>
              </select>
              <label>Loan Term Period</label>
            </div>
            <div class="input-field col s12">
              <input id="interest-rate" v-model="loan.interestRate" type="number" class="validate" />
              <label for="interest-rate">Interest Rate</label>
            </div>

            <div class="input-field col s12">
              <input type="text" class="datepicker" ref="startDate" placeholder="Start Date" />
            </div>

            <a
              class="waves-effect waves-light btn-large green right"
              @click.prevent="download()"
              style="margin-left: 5px;"
              :class="{'disabled': !canDownloadCSV}"
            >download csv</a>

            <a
              class="waves-effect waves-light btn-large green right"
              @click.prevent="calculate()"
            >calculate</a>
          </div>
        </div>

        <div class="col s6 chart-container">
          <chart
            :data="loanMonthAmortizeSchedule"
            :term="loan.termPeriod"
            v-if="loanMonthAmortizeSchedule.length > 0 && loan.termPeriod !== 'weeks'"
          />
          <chart
            :data="loanWeekAmortizeSchedule"
            :term="loan.termPeriod"
            v-if="loanWeekAmortizeSchedule.length > 0 && loan.termPeriod === 'weeks'"
          />
        </div>
      </div>

      <div class="row">
        <div
          class="col s4 offset-s4"
        >Monthly Payment: {{ weeklyMonthlyPayment ? formatPrice(weeklyMonthlyPayment) : ''}}</div>
      </div>
    </section>

    <section
      id="table-section"
      v-if="loanMonthAmortizeSchedule.length > 0 || loanWeekAmortizeSchedule.length > 0"
    >
      <div class="custom-table">
        <div class="table-head row center-align">
          <div class="col s3 th-item">Date</div>
          <div class="col s3 th-item">Interest</div>
          <div class="col s3 th-item">Principal</div>
          <div class="col s3 th-item">Balance</div>
        </div>

        <div class="table-body" v-if="loanMonthAmortizeSchedule.length > 0">
          <div
            class="tb-item-wrapper"
            v-for="(item,index) in loanMonthAmortizeSchedule"
            :key="index"
          >
            <div class="tb-inner-wrapper row center-align">
              <div class="col s3 tb-item">{{ formatDateMonth(item.month, item.year) }}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.interest)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.principal)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance)}}</div>
            </div>
            <div
              class="tb-inner-wrapper row center-align"
              :class="{'blue lighten-2 white-text': isNewYear(item.month)}"
              v-if="isNewYear(item.month)"
            >
              <div class="col s3 tb-item">{{ item.year }}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizeInterest(item.year)}}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizePrincipal(item.year)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance) }}</div>
            </div>

            <div
              class="tb-inner-wrapper row center-align"
              :class="{'blue lighten-2 white-text': !isNewYear(item.month) && loanMonthAmortizeSchedule.length - 1  === index}"
              v-if="!isNewYear(item.month) && loanMonthAmortizeSchedule.length - 1 === index"
            >
              <div class="col s3 tb-item">{{ item.year }}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizeInterest(item.year)}}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizePrincipal(item.year)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance) }}</div>
            </div>
          </div>
        </div>
        <div class="table-body" v-if="loanWeekAmortizeSchedule.length > 0">
          <div
            class="tb-item-wrapper"
            v-for="(item,index) in loanWeekAmortizeSchedule"
            :key="index"
          >
            <div class="tb-inner-wrapper row center-align">
              <div class="col s3 tb-item">{{ formatDateWeek(item.week, item.year) }}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.interest)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.principal)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance)}}</div>
            </div>
            <div
              class="tb-inner-wrapper row center-align"
              :class="{'blue lighten-2 white-text': isNewYearByWeek(item.week)}"
              v-if="isNewYearByWeek(item.week)"
            >
              <div class="col s3 tb-item">{{ item.year }}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizeInterestByWeek(item.year)}}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizePrincipalByWeek(item.year)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance) }}</div>
            </div>

            <div
              class="tb-inner-wrapper row center-align"
              :class="{'blue lighten-2 white-text': !isNewYearByWeek(item.week) && loanWeekAmortizeSchedule.length - 1  === index}"
              v-if="!isNewYearByWeek(item.week) && loanWeekAmortizeSchedule.length - 1 === index"
            >
              <div class="col s3 tb-item">{{ item.year }}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizeInterestByWeek(item.year)}}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizePrincipalByWeek(item.year)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance) }}</div>
            </div>

            <div
              class="tb-inner-wrapper row center-align"
              :class="{'blue lighten-2 white-text': item.week === 53 && totalWeeksOfYear === 52}"
              v-if="item.week === 53 && totalWeeksOfYear === 52"
            >
              <div class="col s3 tb-item">{{ item.year }}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizeInterestByWeek(item.year)}}</div>
              <div class="col s3 tb-item">{{ getMonthYearlyAmortizePrincipalByWeek(item.year)}}</div>
              <div class="col s3 tb-item">{{ formatPrice(item.balance) }}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import selectField from "@/components/selectField.component.vue";
import Chart from "@/components/Chart.vue";
import M from "materialize-css";
import moment, { max } from "moment";

const numeral = require("numeral");
const currentWeekNumber = require("current-week-number");
const jsonexport = require("jsonexport");
export default {
  name: "App",
  components: {
    selectField,
    Chart
  },
  data() {
    return {
      loan: {
        homePrice: 10000,
        termCount: 1,
        termPeriod: "years",
        interestRate: 6,
        startMonth: null,
        startYear: null,
        startDate: ""
      },
      weeklyMonthlyPayment: null,
      formSelects: {
        instances: null,
        options: {}
      },
      formDate: {
        instance: null,
        options: {
          format: "yyyy-mm-dd",
          defaultDate: new Date(),
          setDefaultDate: true
        }
      },
      loanMonthAmortizeSchedule: [],
      loanWeekAmortizeSchedule: [],
      canDownloadCSV: false,
      totalWeeksOfYear: 0,
      months: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },
  mounted() {
    this.$_initSelect();
    // this.getYears();
  },
  methods: {
    getYears() {
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();
      const currentMonth = currentDate.getMonth();

      // Set form current month
      this.loan.startMonth = this.months[currentMonth];
      this.selectMonthOptions.values = this.months[currentMonth];

      // Set form current year
      this.selectYearOptions.values = currentYear;
      this.loan.startYear = currentYear;

      const minYear = currentYear - 30;
      const maxYear = currentYear + 5;
      const years = [];
      for (let index = minYear; index <= maxYear; index++) {
        years.push(index);
      }

      this.selectYearOptions.options = years;

      // this.$_initSelect();
    },
    $_initSelect() {
      const elems = this.$el.querySelectorAll("select");
      const dateEl = this.$el.querySelector(".datepicker");
      this.formSelects.instances = M.FormSelect.init(
        elems,
        this.formSelects.options
      );

      this.formDate.instance = M.Datepicker.init(dateEl, this.formDate.options);
    },
    updateSelectYears(data) {
      // this.loan.startYear = data.values;
      console.log("jello");
    },
    updateSelectMonths(data) {
      // this.loan.startMonth = data.values;
      console.log("jello");
    },
    formatDateMonth(month, year) {
      return this.months[month] + ", " + year;
    },
    formatDateWeek(week, year) {
      const dateMonth = moment(year)
        .add(week, "weeks")
        .startOf("isoweek")
        .format("MMM");

      return `${week} (${dateMonth}, ${year})`;
    },
    isNewYear(month) {
      if (month !== 0 && month % 11 === 0) return true;
    },
    isNewYearByWeek(week) {
      if (week % this.totalWeeksOfYear === 0) return true;
    },

    getMonthYearlyAmortizeInterest(year) {
      var total = 0;
      this.loanMonthAmortizeSchedule.forEach(item => {
        if (item.year === year) {
          total += item.interest;
        }
      });

      return this.formatPrice(total);
    },
    getMonthYearlyAmortizePrincipal(year) {
      var total = 0;
      this.loanMonthAmortizeSchedule.forEach(item => {
        if (item.year === year) {
          total += item.principal;
        }
      });

      return this.formatPrice(total);
    },
    getMonthYearlyAmortizeInterestByWeek(year) {
      var total = 0;
      this.loanWeekAmortizeSchedule.forEach(item => {
        if (item.year === year) {
          total += item.interest;
        }
      });

      return this.formatPrice(total);
    },
    getMonthYearlyAmortizePrincipalByWeek(year) {
      var total = 0;
      this.loanWeekAmortizeSchedule.forEach(item => {
        if (item.year === year) {
          total += item.principal;
        }
      });

      return this.formatPrice(total);
    },

    formatPrice(price) {
      return numeral(price).format("$0,0.00");
    },
    async download() {
      if (
        this.loanMonthAmortizeSchedule.length <= 0 &&
        this.loan.termPeriod !== "weeks"
      )
        return;

      if (
        this.loanWeekAmortizeSchedule.length <= 0 &&
        this.loan.termPeriod === "weeks"
      )
        return;

      let loanDownload = [];
      let csvFileName = "monthly-amortization";

      if (this.loan.termPeriod === "weeks") {
        csvFileName = "weekly-amortization";

        var yearB = 0;
        var yearI = 0;
        var yearP = 0;
        await this.loanWeekAmortizeSchedule.forEach((item, index) => {
          var newItem = {};

          const formattedMonth = moment(item.year)
            .add(item.week, "weeks")
            .startOf("isoweek")
            .format("MMM");
          newItem.date = `${item.week} (${formattedMonth}, ${item.year})`;
          newItem.interest = numeral(item.interest).format("0,0.00");
          newItem.principal = numeral(item.principal).format("0,0.00");
          newItem.balance = numeral(item.balance).format("0,0.00");

          // Calculate yearly total
          yearB = item.balance;
          yearI += item.interest;
          yearP += item.principal;

          loanDownload.push(newItem);
          if (this.isNewYearByWeek(item.week)) {
            var yearItem = {};

            yearItem.date = item.year;
            yearItem.interest = numeral(yearI).format("0,0.00");
            yearItem.principal = numeral(yearP).format("0,0.00");
            yearItem.balance = numeral(yearB).format("0,0.00");

            loanDownload.push(yearItem);

            yearB = 0;
            yearI = 0;
            yearP = 0;
          } else if (
            !this.isNewYearByWeek(item.week) &&
            index === this.loanWeekAmortizeSchedule.length - 1
          ) {
            var yearItem = {};

            yearItem.date = item.year;
            yearItem.interest = numeral(yearI).format("0,0.00");
            yearItem.principal = numeral(yearP).format("0,0.00");
            yearItem.balance = numeral(yearB).format("0,0.00");

            loanDownload.push(yearItem);

            yearB = 0;
            yearI = 0;
            yearP = 0;
          }
        });
      } else if (this.loan.termPeriod === "years") {
        csvFileName = "yearly-amortization";
        var years = [];

        this.loanMonthAmortizeSchedule.forEach(item => {
          // Is this item year not in the years array?
          if (!years.some(el => el === item.year)) {
            //Yes

            years.push(item.year);
          }
        });

        years.forEach(year => {
          var scheduleItem = {};
          var yearB = 0;
          var yearI = 0;
          var yearP = 0;

          this.loanMonthAmortizeSchedule.forEach(item => {
            if (item.year === year) {
              yearB = item.balance;
              yearI += item.interest;
              yearP += item.principal;
            }
          });

          scheduleItem.year = year;
          scheduleItem.interest = numeral(yearI).format("0,0.00");
          scheduleItem.principal = numeral(yearP).format("0,0.00");
          scheduleItem.balance = numeral(yearB).format("0,0.00");

          loanDownload.push(scheduleItem);
        });
      } else {
        var yearB = 0;
        var yearI = 0;
        var yearP = 0;
        await this.loanMonthAmortizeSchedule.forEach((item, index) => {
          var newItem = {};

          newItem.date = `${this.months[item.month]}, ${item.year}`;
          // newItem.year = item.year;
          newItem.interest = numeral(item.interest).format("0,0.00");
          newItem.principal = numeral(item.principal).format("0,0.00");
          newItem.balance = numeral(item.balance).format("0,0.00");

          // Calculate yearly total
          yearB = item.balance;
          yearI += item.interest;
          yearP += item.principal;

          loanDownload.push(newItem);

          if (this.isNewYear(item.month)) {
            var yearItem = {};

            yearItem.date = item.year;
            yearItem.interest = numeral(yearI).format("0,0.00");
            yearItem.principal = numeral(yearP).format("0,0.00");
            yearItem.balance = numeral(yearB).format("0,0.00");

            loanDownload.push(yearItem);

            yearB = 0;
            yearI = 0;
            yearP = 0;
          } else if (
            !this.isNewYear(item.month) &&
            index === this.loanMonthAmortizeSchedule.length - 1
          ) {
            var yearItem = {};

            yearItem.date = item.year;
            yearItem.interest = numeral(yearI).format("0,0.00");
            yearItem.principal = numeral(yearP).format("0,0.00");
            yearItem.balance = numeral(yearB).format("0,0.00");

            loanDownload.push(yearItem);

            yearB = 0;
            yearI = 0;
            yearP = 0;
          }
        });
      }

      jsonexport(loanDownload, function(err, csv) {
        if (err) return console.error(err);

        let anchor = document.createElement("a");
        anchor.href = "data:text/csv;charset=utf-8," + encodeURIComponent(csv);
        anchor.target = "_blank";
        anchor.download = `${csvFileName}.csv`;
        anchor.click();
      });
    },
    calculate() {
      this.canDownloadCSV = false;
      this.loanMonthAmortizeSchedule = [];
      this.loanWeekAmortizeSchedule = [];

      const startDate = this.$refs.startDate.value;

      // Get start year and month from date
      this.loan.startMonth = moment(startDate).format("MMM");
      this.loan.startYear = moment(startDate).format("YYYY");

      // Is all required data given?
      if (
        this.loan.homePrice <= 0 ||
        this.loan.termCount <= 0 ||
        startDate === "" ||
        this.loan.interestRate <= 0
      )
        return;

      // Is term period weekly?
      if (this.loan.termPeriod === "weeks") {
        this.calculateWeekly();
        return;
      }

      const rate = this.loan.interestRate / 100 / 12;
      const loan = this.loan.homePrice;

      let monthCount = this.loan.termCount * 12;

      if (this.loan.termPeriod === "months") {
        monthCount = this.loan.termCount;
      }

      // Calculate monthly payment
      const monthlyP =
        (loan * (rate * (1 + rate) ** monthCount)) /
        ((1 + rate) ** monthCount - 1);

      // Set monthlyPayment state
      this.weeklyMonthlyPayment = monthlyP;

      // Calculate the initial amortize schedule row
      const initMonth = this.months.indexOf(this.loan.startMonth);
      const initYear = parseInt(this.loan.startYear);
      const initInterest = loan * rate;
      const initPrincipal = monthlyP - initInterest;
      const initBalance = loan - initPrincipal;

      for (let index = 0; index < monthCount; index++) {
        if (index === 0) {
          this.loanMonthAmortizeSchedule.push({
            month: initMonth,
            year: initYear,
            interest: initInterest,
            principal: initPrincipal,
            balance: initBalance <= 0 ? 0 : initBalance
          });
        } else {
          let scheduleObject = {
            month: null,
            year: null,
            interest: null,
            principal: null,
            balance: null
          };

          const previousObject = this.loanMonthAmortizeSchedule[index - 1];

          // Calculte amortize interest
          scheduleObject.interest = previousObject.balance * rate;

          // Calculte amortize  principal
          scheduleObject.principal = monthlyP - scheduleObject.interest;

          // Calculte amortize  balance
          const balance = previousObject.balance - scheduleObject.principal;

          scheduleObject.balance = balance <= 0 ? 0 : balance;

          // Is the previous object month the last month in year?
          if (previousObject.month >= 11) {
            // New Year
            // Set month to Jan
            scheduleObject.month = 0;

            // Increase year by 1
            scheduleObject.year = previousObject.year + 1;
          } else {
            // Not a new year

            // Increase month by 1
            scheduleObject.month = previousObject.month + 1;

            // Keep previous year
            scheduleObject.year = previousObject.year;
          }

          this.loanMonthAmortizeSchedule.push(scheduleObject);
        }
      }

      this.canDownloadCSV = true;
    },
    async calculateWeekly() {
      const monthNumber = [
        "01",
        "02",
        "03",
        "04",
        "05",
        "06",
        "07",
        "08",
        "09",
        "10",
        "11",
        "12"
      ];

      // Get total number of weeks for given year
      this.totalWeeksOfYear = parseInt(
        moment(new Date(parseInt(this.loan.startYear), 11, 28)).isoWeek()
      );

      // Get index for selected start month
      const monthIndex = this.months.indexOf(this.loan.startMonth);

      // Create a iso format of date
      const dateFormat = monthNumber[monthIndex] + "/01/" + this.loan.startYear;

      // Get number for first week of the given month;
      const firstWeek = currentWeekNumber(dateFormat);

      const rate = this.loan.interestRate / 100 / 52;
      const loan = this.loan.homePrice;
      const weekCount = this.loan.termCount;

      // Calculate weekly payment
      const weeklyP =
        (loan * (rate * (1 + rate) ** weekCount)) /
        ((1 + rate) ** weekCount - 1);

      // Set weekly payment state
      this.weeklyMonthlyPayment = weeklyP;

      // Calclute the initial amortize schedule row
      const initWeek = parseInt(firstWeek);
      const initYear = parseInt(this.loan.startYear);
      const initInterest = loan * rate;
      const initPrincipal = weeklyP - initInterest;
      const initBalance = loan - initPrincipal;

      for (let index = 0; index < weekCount; index++) {
        if (index === 0) {
          this.loanWeekAmortizeSchedule.push({
            week: initWeek,
            year: initYear,
            interest: initInterest,
            principal: initPrincipal,
            balance: initBalance <= 0 ? 0 : initBalance
          });
        } else {
          let scheduleObject = {
            week: null,
            year: null,
            interest: null,
            principal: null,
            balance: null
          };

          const previousObject = this.loanWeekAmortizeSchedule[index - 1];

          // Calculte amortize interest
          scheduleObject.interest = previousObject.balance * rate;

          // Calculte amortize  principal
          scheduleObject.principal = weeklyP - scheduleObject.interest;

          // Calculte amortize  balance
          const balance = previousObject.balance - scheduleObject.principal;

          scheduleObject.balance = balance <= 0 ? 0 : balance;

          // Is the previous object week the last week in year?
          if (previousObject.week >= this.totalWeeksOfYear) {
            // New Year
            // Set week to Jan
            scheduleObject.week = 1;

            // Increase year by 1
            scheduleObject.year = previousObject.year + 1;
          } else {
            // Not a new year

            // Increase week by 1
            scheduleObject.week = previousObject.week + 1;

            // Keep previous year
            scheduleObject.year = previousObject.year;
          }

          this.loanWeekAmortizeSchedule.push(scheduleObject);
        }
      }
      // console.log(this.loanWeekAmortizeSchedule);
      this.canDownloadCSV = true;
    }
  }
};
</script>

<style lang="scss">
#app {
  #calculator-chart-section {
    .calculator-container {
      padding: 0 2rem;
    }

    .chart-container {
      padding: 0 2rem;
    }
  }
  #table-section {
    .custom-table {
      .table-head {
        margin: 0 !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .th-item {
          padding: 1rem 0;
          font-weight: bold;
        }
      }

      .table-body {
        .tb-item-wrapper {
          .tb-inner-wrapper {
            margin: 0 !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .tb-item {
              padding: 1rem 0;
            }
          }
        }
      }
    }
  }
}
</style>
